# dependencies
node_modules
**/node_modules/
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
**/.next/
out/
**/out/
build
**/build/

# misc & OS garbage
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.pem

# debug & logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs & Editor caches
.vscode/
.idea/

# AI Agent Caches
.gemini/
**/CLAUDE.md
**/AGENTS.md
